html
    head
        title Quinto Proyecto CoderHouse
        link(rel="stylesheet", href="styles.css")
    body 
        nav 
            a(href='/') Home
            a(href='/productos') Products 
        body 
        div(class="lista")
            h2 Listado de Productos 
            table(style="width:60%")
            tr 
                th Title 
                th Price 
                th Thumbnail  
            each product in products
                tr 
                    td= product.title
                    td= product.price
                    td= img(src=`${product.thumbnail}`)